<table class="table">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Single price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of order.items">
      <td>
        <a
          routerLink="/food/{{ item.food.id }}"
          href="/food/{{ item.food.id }}"
        >
          <img [src]="imagesHost + item.food.imageUrl" [alt]="item.food.name" />
          {{ item.food.name }}
        </a>
      </td>

      <td>
        {{ item.food.price | currency }}
      </td>

      <td>
        {{ item.count }}
      </td>

      <td>
        {{ item.price | currency }}
      </td>
    </tr>

    <tr>
      <td colspan="2"></td>

      <td class="bold">
        <strong>Total price:</strong>
      </td>

      <td class="bold">
        <strong>
          {{ order.totalPrice | currency }}
        </strong>
      </td>
    </tr>
  </tbody>
</table>
