<div class="footer bg-dark">
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="menu">
          <ul class="menu-list">
            <li class="menu-head">Contacts</li>
            <li>
              <i class="fa-solid fa-location-dot"></i>
              4920 Trails End Road Ft <br />United States, Fl 33311
            </li>
            <li><i class="fa-solid fa-phone-volume"></i> +997 509 153 849</li>
            <li>
              <i class="fa-solid fa-envelope"></i>
              orders@food-delivery.us.to
            </li>
          </ul>

          <ul class="menu-list">
            <li class="menu-head">Hot menu</li>
            <li>Burger King Whopper</li>
            <li>KFC Original Recipe Chicken</li>
            <li>Five Guys Cheeseburger</li>
            <li>McDonald's Happy Meal</li>
            <li>Domino's Pepperoni Pizza</li>
          </ul>

          <ul class="menu-list">
            <li class="menu-head">Opening Hours</li>
            <li>Monday: 09:00am - 10:00pm</li>
            <li>Tuesday: 09:00am - 10:00pm</li>
            <li>Wednesday: 09:00am - 10:00pm</li>
            <li>Thusday: 09:00am - 10:00pm</li>
            <li>Friday: 09:00am - 10:00pm</li>
            <li>Saturday: 10:00am - 08:00pm</li>
            <li>Sunday: <span class="warning">Closed</span></li>
          </ul>
        </ul>
      </div>

      <hr />

      <div class="socials">
        <ul>
          <li>
            <a href="https://www.facebook.com" target="_blank">
              <i class="fa-brands fa-square-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com" target="_blank">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com" target="_blank">
              <i class="fa-brands fa-square-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
