.footer {
  width: 100%;
  min-height: 5rem;
  background-color: rgb(100, 100, 100);
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: white;
  margin-top: 2rem;
}
