<div class="container">
  <div class="row header">
    <div class="col">
      <h1><i class="fa-solid fa-user"></i> My Profile</h1>
    </div>
  </div>

  <form
    [formGroup]="editProfileForm"
    (ngSubmit)="submit()"
    [ngClass]="{
      'was-validated':
        (formControls.namerrors && submited) ||
        (formControls.address.errors && submited),
      'needs-validation': !submited
    }"
    novalidate
  >
    <div class="row">
      <div class="col content">
        <div>
          <span class="label">Email: </span>
          <span>
            {{ profile.email }}
          </span>
          <span class="disabled">(cannot be changed)</span>
        </div>

        <div>
          <span class="label">Name: </span>

          <input
            type="text"
            class="form-control"
            id="name"
            aria-describedby="Name"
            formControlName="name"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please provide a valid name.</div>
        </div>

        <div>
          <span class="label">Address: </span>

          <input
            type="text"
            class="form-control"
            id="address"
            aria-describedby="Address"
            formControlName="address"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please type your aaddress.</div>
        </div>

        <div *ngIf="editProfileForm.dirty">
          <button
            class="btn btn-primary btn-lg"
            type="button"
            (click)="submit()"
          >
            Save Changes
          </button>
        </div>
      </div>

      <div class="col content">
        <h3>Delivery Address:</h3>
        <app-map [order]="order"></app-map>
      </div>
    </div>
  </form>
</div>
