.header {
  margin: 3rem auto;
}

.label {
  font-size: 1.5rem;
  width: 120px;
  display: inline-block;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.content > div {
  width: 100%;
}

.content > div .btn {
  margin-top: 2rem;
}

form {
  margin-bottom: 5rem;
}

.disabled {
  color: rgb(176, 175, 175);
  font-style: italic;
  font-size: 1.1rem;
}
