ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
}

.header {
  margin: 4rem auto 1rem auto;
}

a {
  text-decoration: none;
}

.searchbox {
  margin: 2rem auto;
  max-width: 800px;
}
