<div class="container">
  <div class="row">
    <div class="col">
      <ul class="my-4">
        <li *ngFor="let food of foods" class="border-light">
          <div class="card" style="width: 18rem">
            <img [src]="food.imageUrl" class="card-img-top" [alt]="food.name" />
            <div class="card-body">
              <h5 class="card-title">{{ food.name }}</h5>

              <!-- <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a> -->

              <button class="btn btn-outline-primary favorite-wrap">
                <span class="favorite {{ food.favorite ? '' : 'not' }}">
                  <i class="fa-solid fa-heart"></i>
                </span>
              </button>

              <div class="stars">
                <star-rating
                  [value]="food.stars"
                  [totalstars]="5"
                  checkedcolor="red"
                  uncheckedcolor="black"
                  size="22px"
                  [readonly]="true"
                ></star-rating>
              </div>

              <span *ngFor="let origin of food.origins" class="origins">
                {{ origin }}
              </span>

              <div>
                Time: <i class="fa-solid fa-clock"></i> {{ food.cookTime }}
              </div>

              <div class="price">Price: {{ food.price | currency }}</div>
            </div>

            <!-- <div class="card-footer">

            </div> -->
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
